<%= stylesheet_link_tag    'application-index' %>

	<header id="home" class="header">
		<div id="main-nav" class="navbar navbar-inverse bs-docs-nav fixed" role="banner">
			<div class="container">
				<div class="navbar-header responsive-logo">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand" style="padding: 15px;">	
					<%= link_to root_path do %>				
						<%= image_tag 'logo.jpg', alt: "eTaxi", style: "width: 200px; height: 41px;" %>
					<% end %>
					</div>
				</div>
				<nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
				<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list" style="font-family: Lato;">					
					<li class=""><a href="#focus">Focus</a></li>
					<li class=""><a href="#aboutus">About Us</a></li>
					<li class=""><a href="#team">Team</a></li>
					<li class=""><a href="#testimonials">Testimonials</a></li>					
					<li class=""><a href="#tour_guide">UAE Guide</a></li>
					<li class=""><%= link_to 'Cars for SALE', cars_path %></li>
					<li class=""><a href="#contact">Contact</a></li>
					<li class="">
						<% if user_signed_in? %>
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear"> 
                	<span class="text-muted text-xs block">
                	My Account
                	<b class="caret">
                	</b>
                	</span> 
                </span> 
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                  <li><%= link_to 'Logout', destroy_user_session_path %></li>
              	</ul>
						<% else %>
							<%= link_to 'Sign In', new_user_session_path, style: "color: #20AA73; font-weight: bold;" %>
						<% end %>
					</li>
				</ul>
				</nav>
			</div>
		</div>
		<div class="container">
			<h1 class="intro">Always there because we are everywhere.</h1>
			<div class="buttons inpage-scroll">				
				<%= link_to 'Cars for Sale', cars_path, class: "btn btn-primary custom-button red-btn" %>
				<a href="#contact" class="btn btn-primary custom-button green-btn">Contact Us</a>
			</div>

		</div>
	</header>
	<section class="focus" id="focus">
		<div class="container">
			
			<!-- SECTION HEADER -->
			<div class="section-header">
				
				<!-- SECTION TITLE -->
				<h2 class="dark-text">Our Focus</h2>
				
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6>
					Professionalism, quality and efficiency in every aspect of our business – getting customers from A to B.
				</h6>
			</div>
			<!-- / END SECTION HEADER -->
			
			<!-- 4 FOCUS BOXES -->
			<div class="row">
				
				<!-- FIRST FOCUS BOXES -->
				<div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
					<div class="service-icon" style="border-color: #e96656;">					
						<i class="pixeden red fa fa-taxi fa-4x" aria-hidden="true"></i>
					</div>
					<h5 class="red-border-bottom">Training</h5> <!-- FOCUS HEADING -->
					<p> <!-- FOCUS DESCRIPTION -->
						At Emirates Taxi, we ensure that every driver meets the highest standards of customer service, safety and local knowledge that customers expect of the brand.
					</p>
				</div>
				<!-- / END FIRST FOCUS BOX. Other boxes has same format -->
				
				<div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
					<div class="service-icon" style="border-color: #20AA73;">
						<i class="pixeden green fa fa-road fa-4x" aria-hidden="true"></i>
					</div>
					<h5 class="green-border-bottom">Safety</h5>
					<p>
						With each car carefully inspected on a regular basis to ensure that it complies with strict safety regulations and meets the highest level of neatness and comfort.
					</p>
				</div>
				
				<div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
					<div class="service-icon" style="border-color: #3ab0e2;">
						<i class="pixeden blue fa fa-certificate fa-4x" aria-hidden="true"></i>
					</div>
					<h5 class="blue-border-bottom">Quality</h5>
					<p>
						We will ensure that quality is constantly maintained and we reach the high expectations of all our customers. 
					</p>
				</div>
				
				<div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
					<div class="service-icon" style="border-color: #E7AC44;">
						<i class="pixeden yellow fa fa-smile-o fa-4x" aria-hidden="true"></i>
					</div>
					<h5 class="yellow-border-bottom">Our Passengers</h5>
					<p>
						 Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
					</p>
				</div>
			</div>
		</div> <!-- / END CONTAINER -->
	</section>
	<section class="about-us" id="aboutus">
		<div class="container">
			
			<!-- SECTION HEADER -->
			<div class="section-header">
				
				<!-- SECTION TITLE -->
				<h2 class="white-text">About US</h2>
				
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6 class="white-text">
						Emirates Taxi is now the leading taxi service provider in Abu Dhabi and the whole UAE.
				</h6>
			</div>
			<!-- / END SECTION HEADER -->
			
			<!-- 3 COLUMNS OF ABOUT US-->
			<div class="row">
				
				<!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
				<div class="col-lg-4 col-md-4 column">
					<div class="big-intro wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
						Always there because we are everywhere.
					</div>
				</div>
				
				<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
				<div class="col-lg-4 col-md-4 column">
					<p class="wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
						Since the start of its operations in 2007, Emirates Taxi has grown so that it now has a 1,245 -vehicle-strong fleet. Like its Sharjah affiliate, it has built a regular customer base within Abu Dhabi, as well as becoming a preferred taxi service for visitors to the capital, thanks to its customer-centric approach and dedication to quality.
						<br><br>
						Through intensive training of our drivers and frequent inspection of our vehicles by a professional management team, we will ensure that quality is constantly maintained and we reach the high expectations of all our customers.
						<br><br>
						Emirates Taxi is wholly owned by Emirates National Group, the dynamic group of transportation-led service companies.
					</p>
				</div>
				
				<!-- COLUMN 1 - SKILSS-->
				<div class="col-lg-4 col-md-4 column">
					<ul class="skills wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
						
						<!-- SKILL ONE -->
						<li class="skill">
							<div class="skill-count">
								<div style="display: inline; width: 64px; height: 200px;">
								<canvas width="64" height="200"></canvas>
								<input type="text" value="99" data-thickness=".2" class="skill1" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
							</div>
							<h6>Trust Raiting</h6>
							<p>
								With almost 100% trust raiting from our happy passengers and drivers.
							</p>
						</li>
						
						<!-- SKILL TWO -->
						<li class="skill">
							<div class="skill-count">
								<div style="display: inline; width: 64px; height: 200px;"><canvas width="64" height="200"></canvas><input type="text" value="91" data-thickness=".2" class="skill2" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
							</div>
							<h6>Professionalism</h6>
							<p>
								One of the main aspect of our business.
							</p>
						</li>
						
						<!-- SKILL THREE -->
						<li class="skill">
							<div class="skill-count">
								<div style="display: inline; width: 64px; height: 200px;"><canvas width="64" height="200"></canvas><input type="text" value="89" data-thickness=".2" class="skill3" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
							</div>
							<h6>Personal care</h6>
							<p>
								Driving within at the speed limit.
							</p>
						</li>
						
						<!-- SKILL FOUR -->
						<li class="skill">
							<div class="skill-count">
								<div style="display: inline; width: 64px; height: 200px;">
								<canvas width="64" height="200"></canvas><input type="text" value="95" data-thickness=".2" class="skill4" readonly="readonly" style="width: 36px; height: 21px; position: absolute; vertical-align: middle; margin-top: 21px; margin-left: -50px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
							</div>
							<h6>Customer care</h6>
							<p>
								Our passengers are our main priority.
							</p>
						</li>
						
					</ul> 
				</div> <!-- / END SKILLS COLUMN-->
			</div> <!-- / END 3 COLUMNS OF ABOUT US-->
		</div>
	</section>
	<section class="stats">
		<div class="container">
		    <!-- STATS -->
		    <div class="row">
		        
		        <!-- START COLUMN -->
		        <div class="col-lg-3 col-sm-3">
		            <div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
		                <div class="icon-top red-text">
		                    <i class="fa fa-taxi fa-lg"></i>
		                </div>
		                <div class="stat-text">
		                <h3 class="white-text red-border-bottom">2,000</h3>
		                <h6>Our Fleet</h6>
		                </div>
		            </div>
		        </div> <!-- / END COLUMN -->
		        
		        <!-- START COLUMN -->
		        <div class="col-lg-3 col-sm-3">
		            <div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s" style="visibility: visible;-webkit-animation-duration: 1.75s; -moz-animation-duration: 1.75s; animation-duration: 1.75s;-webkit-animation-delay: 0.30s; -moz-animation-delay: 0.30s; animation-delay: 0.30s;">
		                <div class="icon-top green-text">
		                    <i class="fa fa-smile-o fa-lg"></i>
		                </div>
		                <div class="stat-text">
		                <h3 class="white-text green-border-bottom">Millions and counting</h3>
		                <h6>Happy Clients</h6>
		                </div>
		            </div>
		        </div> <!-- / END COLUMN -->
		        
		        <!-- START COLUMN -->
		        <div class="col-lg-3 col-sm-3">
		            <div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.45s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;-webkit-animation-delay: 0.45s; -moz-animation-delay: 0.45s; animation-delay: 0.45s;">
		                <div class="icon-top blue-text">
		                    <i class="fa fa-users fa-lg"></i>
		                </div>
		                <div class="stat-text">
		                <h3 class="white-text blue-border-bottom">2,300</h3>
		                <h6>Our Team</h6>
		                </div>
		            </div>
		        </div> <!-- / END COLUMN -->
		        
		        <!-- START COLUMN -->
		        <div class="col-lg-3 col-sm-3">
		            <div class="stat wow fadeInUp animated animated" data-wow-offset="30" data-wow-duration="2.25s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 2.25s; -moz-animation-duration: 2.25s; animation-duration: 2.25s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
		                <div class="icon-top yellow-text">
		                    <i class="fa fa-trophy fa-lg"></i>
		                </div>
		                <div class="stat-text">
		                <h3 class="white-text yellow-border-bottom">10+</h3>
		                <h6>Awards</h6>
		                </div>
		            </div>
		        </div> <!-- / END COLUMN -->
		    </div>
		</div>
	</section>
	<section class="our-team" id="team">
		<div class="container">
			
			<!-- SECTION HEADER -->
			<div class="section-header">
				
				<!-- SECTION TITLE -->
				<h2 class="dark-text">Our Team</h2>
				
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6>
					Check our awesome team memebers who always work hard to provide quality service. 
				</h6>
			</div>
			<!-- / END SECTION HEADER -->
			
			<!-- TEAM MEMBERS -->
			<div class="row wow fadeInRight animated animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				<!-- MEMBER -->
				<div class="col-lg-3 col-sm-3">
					<div class="team-member">
						<figure class="profile-pic"> 
							<%= image_tag 'team/team1.jpg' %>
						</figure>
						<div class="member-details">
							<h5 class="dark-text red-border-bottom">Ahmed Abood Al Boasy</h5>
							<div class="position">
								Group CEO
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-sm-3">
					<div class="team-member">
						<figure class="profile-pic"> 
							<%= image_tag 'team/team2.jpg' %>
						</figure>
						<div class="member-details">
							<h5 class="dark-text red-border-bottom">Syed Abdul Hakeem</h5>
							<div class="position">
								General Manager
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-3">
					<div class="team-member">
						<figure class="profile-pic"> 
							<%= image_tag 'team/team3.jpg' %>
						</figure>
						<div class="member-details">
							<h5 class="dark-text red-border-bottom">Sultan Koraish</h5>
							<div class="position">
								Deputy General Manager
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-3">
					<div class="team-member">
						<figure class="profile-pic"> 
							<%= image_tag 'team/team4.jpg' %>
						</figure>
						<div class="member-details">
							<h5 class="dark-text red-border-bottom">Fadi Al Zoubi</h5>
							<div class="position">
								Quality Control Team Lead
							</div>
						</div>
					</div>
				</div>

			</div> <!-- / END TEAM MEMBER LIST -->
		</div> <!-- / END CONTAINER -->
	</section>

	<section class="testimonial" id="testimonials">
		<div class="container">
			  
			  <!-- SECTION HEADER -->
		        <div class="section-header">
				
				<!-- SECTION TITLE -->
				<h2 class="white-text">Testimonials</h2>
				
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6 class="white-text">
					We have worked with hundreds of clients. Check what our awesome happy clients saying about us. 
				</h6>
			</div>
			<!-- / END SECTION HEADER -->
			
			<!-- CLIENT FEEDBACKS -->
			<div class="row wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				<div class="col-md-12">
					<div id="client-feedbacks" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

								<div class="owl-item" style="width: 380px;">
									<div class="feedback-box">

										<div class="message">
											 “I have used Emirates Taxi for a number of projects and needs, both personal and business related and have never been disappointed with the value or the quality of services offered.”
										</div>
										
										<!-- CLIENT INFORMATION -->
										<div class="client">
											<div class="client-info">
												<a class="client-name" href="">Khan Muhammad Mohsin</a> 
											</div>
											<div class="client-image hidden-xs">
												<%= image_tag 'testimonials/test1.jpg' %>
											</div>
										</div> <!-- / END CLIENT INFORMATION-->
									</div>
								</div>
								<div class="owl-item" style="width: 380px;">
									<div class="feedback-box">
										<div class="message">
											 “The level of service and professionalism I’ve received from them and the experienced drivers at Emirates Taxi is unparalleled.”
										</div>
										
										<!-- CLIENT INFORMATION -->
										<div class="client">
											<div class="client-info">
												<a class="client-name" href="">Duterte Supporter</a> 
											</div>
											<div class="client-image hidden-xs">
												<%= image_tag 'testimonials/test2.jpg' %>
											</div>
										</div> <!-- / END CLIENT INFORMATION-->
									</div>
								</div>
								<div class="owl-item" style="width: 380px;">
									<div class="feedback-box">
										<div class="message">
											 “I’ve been a client at Emirates Taxi for many years. I appreciate the courtesy from the staff and their philosophy of “The No Problem Company”. I’ve been a client with them for more than 6 years. Thank you for a job well done.”
										</div>
										
										<!-- CLIENT INFORMATION -->
										<div class="client">
											<div class="client-info">
												<a class="client-name" href="">Mohammed Suhail</a> 
											</div>
											<div class="client-image hidden-xs">
												<%= image_tag 'testimonials/test3.jpg' %>
											</div>
										</div> <!-- / END CLIENT INFORMATION-->
									</div>
								</div>
								<div class="owl-item" style="width: 380px;">
									<div class="feedback-box">
										<div class="message">
											 “Just wanted to let you know that the drivers who took me to and from Abu Dhabi were brilliant - I am always pleased by the calibre of your drivers but these two are particularly good - an asset to you.”
										</div>
										
										<!-- CLIENT INFORMATION -->
										<div class="client">
											<div class="client-info">
												<a class="client-name" href="">Prakash Pereira</a> 
				
											</div>
											<div class="client-image hidden-xs">
												<%= image_tag 'testimonials/test4.jpg', style: "width: 63px; height: 71px;" %>
											</div>
										</div> <!-- / END CLIENT INFORMATION-->
									</div>
								</div>
								<div class="owl-item" style="width: 380px;">
									<div class="feedback-box">
										<div class="message">
											 “I had a text from my driver this morning to tell me that I had left my glasses in his car and that he would deliver them to main gate reception this morning. He did exactly as he had promised and waited patiently for half an hour of his own time while they found me - he was most understanding.” 
										</div>
										
										<!-- CLIENT INFORMATION -->
										<div class="client">
											<div class="client-info">
												<a class="client-name" href="">Berindra</a> 
											</div>
											<div class="client-image hidden-xs">
												<%= image_tag 'testimonials/test5.jpg', style: "width: 63px; height: 71px;" %>
											</div>
										</div> <!-- / END CLIENT INFORMATION-->
									</div>
								</div>
								<div class="owl-item" style="width: 380px;">
									<div class="feedback-box">
										<div class="message">
											 “I just received a ride from Emirates Taxi. It was a trip from the Mussafah, to my home in downtown Abu Dhabi. While I am very apprehensive about taxi rides because I have not had pleasant experiences. This driver is different. He was friendly, courteous, and his driving didn't make me nervous once."
										</div>
										
										<!-- CLIENT INFORMATION -->
										<div class="client">
											<div class="client-info">
												<a class="client-name" href="">Ahmed Marzouk</a> 
											</div>
											<div class="client-image hidden-xs">
												<%= image_tag 'testimonials/test6.jpg', style: "width: 63px; height: 71px;" %>
											</div>
										</div> <!-- / END CLIENT INFORMATION-->
									</div>
								</div>

					</div> <!-- / END FEEDBACKS-->
				</div> <!-- / END COLUMN -->
			</div> <!-- / END ROW -->
			
		</div> <!-- / END CONTAINER -->
	</section>
	<section class="works" id="tour_guide">
		<div class="container">
			
			<!-- SECTION HEADER -->
			<div class="section-header">
				
				<!-- SECTION TITLE -->
				<h2 class="dark-text">UAE Destination Guide</h2>
				
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6>
					The United Arab Emirates is one of the world's fastest-growing destinations for business and leisure visitors.
				</h6>
			</div>
			<!-- / END SECTION HEADER -->
			<div class="row projects">
				<div id="loader">
					<div class="loader-icon"></div>
				</div>
				<div class="col-md-12" id="portfolio-list" style="margin-left: 0px; display: block;">
					<ul class="cbp-rfgrid">
				        <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="abudhabi">
				        	<%= image_tag 'uae/abudhabi.jpg', style: "width: 400px; height: 250px;" %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									Abu Dhabi </h5>
									<div class="details white-text">
										ابو ظبي
									</div>
								</div>
							</div>
							</a>
				        </li>
				        <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="dubai">
				        	<%= image_tag 'uae/dubai.jpg', style: "width: 400px; height: 250px;"  %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									Dubai </h5>
									<div class="details white-text">
										دبي
									</div>
								</div>
							</div>
							</a>
				        </li>
				        <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="ajman">
				        	<%= image_tag 'uae/ajman.jpg', style: "width: 400px; height: 250px;"  %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									Ajman</h5>
									<div class="details white-text">
										عجمان
									</div>
								</div>
							</div>
							</a>
				        </li>
				        <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="fujairah">
				        	<%= image_tag 'uae/fujairah.jpg', style: "width: 400px; height: 250px;"  %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									Fujairah </h5>
									<div class="details white-text">
										الفجيرة
									</div>
								</div>
							</div>
							</a>
				        </li>
				         <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="rak">
				        	<%= image_tag 'uae/rak.jpg', style: "width: 400px; height: 250px;"  %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									Ras Al Khaimah </h5>
									<div class="details white-text">
										رأس الخيمة
									</div>
								</div>
							</div>
							</a>
				        </li>
				         <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="sharja">
				        	<%= image_tag 'uae/sharja.jpg', style: "width: 400px; height: 250px;"  %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									Sharja </h5>
									<div class="details white-text">
										الشارقة
									</div>
								</div>
							</div>
							</a>
				        </li>
				         <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="ummal">
				        	<%= image_tag 'uae/ummal.jpg', style: "width: 400px; height: 250px;"  %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									Umm Al Quwain </h5>
									<div class="details white-text">
										أم القيوين
									</div>
								</div>
							</div>
							</a>
				        </li>
				        <li class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
				        <a href="project.html" class="uae">
				        	<%= image_tag 'uae/uae.jpg', style: "width: 400px; height: 250px;"  %>
							<div class="project-info">
								<div class="project-details">
									<h5 class="white-text red-border-bottom">
									United Arab Emirates </h5>
									<div class="details white-text">
										الإمارات العربية المتحدة
									</div>
								</div>
							</div>
							</a>
				        </li>
					</ul>
				</div>
			<!-- END OF PORTFOLIO ITEMS-->
			</div>
			
			<!-- PROJECT DETAILS WILL BE LOADED HERE -->
			<div id="abudhabi" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">							
							<%= image_tag 'uae/abudhabi.jpg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">Abu Dhabi</h3>
							<div class="project-description">
								Abu Dhabi is the capital and the second most populous city of the United Arab Emirates (the most populous being Dubai), and also capital of the Emirate of Abu Dhabi, the largest of the UAE's seven emirates. Abu Dhabi lies on a T-shaped island jutting into the Persian Gulf from the central western coast. The city proper had a population of 1.5 million in 2014.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">Sheikh: </span> Khalifa bin Zayed</li>
									<li><span class="dark-text">Population: </span> 2,784,490</li>
									<li><span class="dark-text">Elevation: </span> 27 m (89 ft)</li>
									<li><span class="dark-text">URL: </span><a href="#">www.abudhabi.ae</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="dubai" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<%= image_tag 'uae/dubai.jpg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">Dubai</h3>
							<div class="project-description">
								Dubai has emerged as a global city and business hub of the Middle East.[7] It is also a major transport hub for passengers and cargo. By the 1960s, Dubai's economy was based on revenues from trade and, to a smaller extent, oil exploration concessions, but oil was not discovered until 1966. Oil revenue first started to flow in 1969.[8] Dubai's oil revenue helped accelerate the early development of the city, but its reserves are limited and production levels are low: today, less than 5% of the emirate's revenue comes from oil.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">Sheikh: </span> Mohammed bin Rashid Al Maktoum</li>
									<li><span class="dark-text">Population: </span> 2,723,706</li>
									<li><span class="dark-text">Elevation: </span> 27 m (89 ft)</li>
									<li><span class="dark-text">URL: </span><a href="#">http://www.visitdubai.com/en/</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="ajman" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<%= image_tag 'uae/ajman.jpg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">Ajman</h3>
							<div class="project-description">
								Ajman is continuing the development stalled by the financial crisis of 2007–2008 and once again undergoing a period of growth. Tourist attractions in the emirate, including hotels, shopping and cultural destinations are growing rapidly. Tourist attractions include the Ajman National Museum situated at Ajman Fort, the Red Fort and the museum in the inland enclave of Manama.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">Sheikh: </span> Sheikh Humaid bin Rashid Al Nuaimi</li>
									<li><span class="dark-text">Population: </span> 238,000</li>
									<li><span class="dark-text">Elevation: </span> 27 m (89 ft)</li>
									<li><span class="dark-text">URL: </span><a href="#">www.ajmantourism.ae</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="fujairah" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<%= image_tag 'uae/fujairah.jpg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">Fujairah</h3>
							<div class="project-description">
								 Travel in and around Fujairah and the surrounding towns of Khor Fakkan, Kalba and Masafi has been made easy by the development of modern highways since independence in 1971. Highways are funded by the federal government directly, and contracts are tendered centrally. This is meant to safeguard the quality and delivery of the contracts and prevent corruption from damaging the construction.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">Sheikh: </span> Sheikh Hamad bin Mohammed Al Sharqi</li>
									<li><span class="dark-text">Population: </span> 152,000</li>
									<li><span class="dark-text">Elevation: </span> 27 m (89 ft)</li>
									<li><span class="dark-text">URL: </span><a href="#">none</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="rak" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<%= image_tag 'uae/fujairah.jpg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">Ras Al Khaimah</h3>
							<div class="project-description">
								UAE Awafi Festival – a yearly festival in the Ras al-Khaimah desert, focusing mainly on the Arabic public[clarification needed]. It is a three-week event, held in December or January, the main attraction being a dramatic sand dune race by the strongest 4-wheel drivers of the UAE. There is a heritage village with traditional food and dance, as well as shops for food and souvenirs. There is also a petting zoo and lots of games for children. The entry is free of charge, and many families bring picnics to enjoy whilst watching the cars battling it out over the sand dunes.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">Sheikh: </span> Saud bin Saqr al Qasimi</li>
									<li><span class="dark-text">Population: </span> 263,217</li>
									<li><span class="dark-text">Elevation: </span> 27 m (89 ft)</li>
									<li><span class="dark-text">URL: </span><a href="#">https://en.rasalkhaimah.ae/</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sharja" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<%= image_tag 'uae/sharja.jpg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">Sharja</h3>
							<div class="project-description">
							Sharjah has long invested considerable resources in building a strong cultural identity and heritage and was named in 1998 as UNESCO's 'Arab Capital of Culture', an event commemorated by a large pillar erected opposite the Sharjah Desert Park and Arabian Wildlife Centre between Sharjah and Dhaid cities.
							<br><br>
							Sharjah was also named as Islamic Culture Capital 2014 by the Islamic Educational, Scientific and Cultural Organization (ISESCO), a specialized institution of the Organization of Islamic Cooperation (OIC) in the fields of Education, Science and Culture. This is commemorated by a (smaller) pillar mounted to the front of Sharjah's University City.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">Sheikh: </span> Sultan bin Muhammad Al-Qasimi</li>
									<li><span class="dark-text">Population: </span> 890,669</li>
									<li><span class="dark-text">Elevation: </span> 27 m (89 ft)</li>
									<li><span class="dark-text">URL: </span><a href="#">http://www.sharjah.ae/</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="ummal" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<%= image_tag 'uae/ummal.jpeg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">Umm Al Quwain</h3>
							<div class="project-description">
								<strong>Umm Al Quwain Fort:</strong> A fort which was once home to the emirate’s ruler and guarded the entrance to the old town, overseeing the sea on one side and the creek on the other. It eventually became a police station then a museum. The museum now houses artifacts found at important nearby sites including Al-Dour and houses a collection of weapons that were used through the emirate's history. It is located near a Masjid (Mosque) in Umm Al Quwain Bazaar.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">Sheikh: </span> Saud bin Rashid Al Mu'alla</li>
									<li><span class="dark-text">Population: </span> 72,000</li>
									<li><span class="dark-text">Elevation: </span> 27 m (89 ft)</li>
									<li><span class="dark-text">URL: </span><a href="#">http://uaqmd.gov.ae/en//</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="uae" style="display: none;">
				<div class="single-project">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<%= image_tag 'uae/uae.jpg', class: "project-image" %>
						</div>
						<div class="col-lg-6 col-md-6">
							<h3 class="dark-text">United Arab Emirates</h3>
							<div class="project-description">
								UAE has the second largest economy in the GCC (after Saudi Arabia), with a gross domestic product (GDP) of $377 billion (1.38 trillion AED) in 2012. Since independence in 1971, UAE's economy has grown by nearly 231 times to 1.45 trillion AED in 2013. The non-oil trade has grown to 1.2 trillion AED, a growth by around 28 times from 1981 to 2012. UAE is ranked as the 26th best nation in the world for doing business based on its economy and regulatory environment, ranked by the Doing Business 2017 Report published by the World Bank Group.
							</div>
							<div class="project-information">
								<ul>
									<li><span class="dark-text">President: </span> Khalifa bin Zayed Al Nahyan</li>
									<li><span class="dark-text">Prime Minister: </span> Mohammed bin Rashid Al Maktoum</li>
									<li><span class="dark-text">Population: </span> 9,581,000</li>
									<li><span class="dark-text">Area: </span> 83,600 km2</li>
									<li><span class="dark-text">URL: </span><a href="#">http://uaqmd.gov.ae/en//</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		    <a id="back-button" class="red-btn" href="#" style="display: none;"><i class="icon-fontawesome-webfont-27"></i> Go Back</a>
			
		</div> <!-- / END CONTAINER -->
	</section>
	<section class="products" data-type="background" data-speed="1" id="cars4sale" style="background-position: 50% -7751px;">
		<div class="color-overlay">
			<div class="container">
		    <div class="section-header">
					<h2 class="white-text">Cars for Sale</h2>
					<h6 class="white-text">
						We offer lowest price for our second hand cars without neglecting cars quality.						
					</h6>
					<%= link_to 'Show More Cars', cars_path, class: "btn btn-primary custom-button red-btn" %>
				</div>
				<div class="row wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
					<% @cars.each do |car| %>
			      		<div class="col-md-3">
							<div class="item" style="background-image: url(<%= car.primary_image.url(:web) %>); background-repeat: no-repeat; background-size: cover; background-position: center;">
								<div class="item-overlay">
								</div>
								<div class="item-content">
									<div class="item-top-content">
										<div class="item-top-content-inner">
											<div class="item-product">
												<div class="item-top-title">
													<h5><%= car.car_brand.name %></h5>  <!-- PRODUCT TITLE-->
													<p class="subdescription">
														<%= car.car_model.name %> - <%= car.year %>
													</p>
												</div>
											</div>
											<div class="item-product-price">
												<span class="price-num green-text">AED <%= number_with_precision(car.price, :precision => 0, :delimiter => ',') %></span> 
												<p class="subdescription">
													26,000
												</p>
												<div class="old-price">
												</div>
											</div>
										</div>
									</div>
									<div class="item-add-content">
										<div class="item-add-content-inner">
											<div class="section">
												<p>
													Hurry and Buy now!
												</p>
											</div>
											<div class="section">
												<%= link_to 'More Details', car_path(car), class: "btn btn-primary custom-button red-btn" %>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>

				</div>
			</div>
		</div>
	</section>
	<section class="contact-us" id="contact">
		<div class="container">
			
			<!-- SECTION HEADER -->
		        <div class="section-header">
				
				<!-- SECTION TITLE -->
				<h2 class="white-text">Get in touch</h2>
				
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6 class="white-text">
					Have any question? Drop us a message. We will get back to you ASAP.
				</h6>
			</div>
			<!-- / END SECTION HEADER -->
			
			<!-- CONTACT FORM-->
			<div class="row">
				<div class="col-md-6">
					<form role="form" class="contact-form" id="contact-form">
						<div class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
							<div class="col-lg-6 col-sm-6">
								<input type="text" name="name" placeholder="Your Name" class="form-control input-box" id="name">
							</div>
							<div class="col-lg-6 col-sm-6">
								<input type="email" name="email" placeholder="Your Email" class="form-control input-box" id="email">
							</div>
						</div>
						
						<div class="col-md-12 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
							<textarea name="message" class="form-control textarea-box" placeholder="Your Message" id="message"></textarea>
						</div>
						<button class="btn btn-primary custom-button red-btn wow fadeInLeft animated animated" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">Send Message</button>
					</form>
				</div>
				<div class="col-md-6">
					<div id="g-spot" style="height: 400px; "></div>
				</div>
			</div>
			<!-- / END CONTACT FORM-->
		</div> <!-- / END CONTAINER -->
	</section>
	  <footer>
		<div class="container">
			
			<!-- COMPANY ADDRESS-->
			<div class="col-md-5 company-details">
				<div class="icon-top red-text">
				    <i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>
				P.O. Box 37037, Mussafah Industrial Area, Abu Dhabi, UAE
			</div>
			
			<!-- COMPANY EMAIL-->
			<div class="col-md-2 company-details">
				<div class="icon-top green-text">
					<i class="fa fa-folder-o" aria-hidden="true"></i>
				</div>
				 customer.service@etaxiuae.com
			</div>
			
			<!-- COMPANY PHONE NUMBER -->
			<div class="col-md-2 company-details">
				<div class="icon-top blue-text">
					<i class="fa fa-phone-square" aria-hidden="true"></i>
				</div>
				+971 2-5509511
			</div>
			
			<!-- SOCIAL ICON AND COPYRIGHT -->
			<div class="col-lg-3 col-sm-3 copyright">
				<ul class="social">
					<li><a href=""><i class="fa fa-facebook-official"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square"></i></a></li>
					<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href=""><i class="fa fa-youtube"></i></a></li>					
				</ul>
				 ©2017 All Rights Reserved
				 <br>
				 <small><a href="https://www.enguae.com/">Emirates National Group</a> IT Team</small>
			</div>
		</div> <!-- / END CONTAINER -->
	</footer>
	<script type="text/javascript">
		function initializeMap() {
				  var map;
				  var myLatlng = new google.maps.LatLng(24.356892, 54.511127); // EMIRATES TAXI LAT AND LNG
				  var myOptions = {
				    zoom: 14,
				    center: myLatlng,
				    mapTypeId: google.maps.MapTypeId.ROADMAP
				  }
				  map = new google.maps.Map(document.getElementById("g-spot"), myOptions);
				        var marker = new google.maps.Marker({
				          position: myLatlng,
				          map: map,
				          title: 'Nia ko diri!'
				        });
  		}
	</script>